.button {
  text-align: center;
  margin-top: 5px;
  background-color: inherit;
  border: blue solid 1px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 2px 5px;
  width: 60%;
  color: #007BFF;

  &:hover, active {
    background: #007BFF;
    color: #F7F7F7;
  }
}